

<main class="container">

    <!-- Заголовок -->
    <div class="jumbotron">
        <h1>Автоматизация склада</h1>
        <p class="lead">Простой инструмент для управления наличием товаров на складе.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")" role="button">
            Управление товарами
            &raquo;
        </a>
    </div>
</main>