@{
    bool modelShow = ViewBag.ShowModal == true;
}
<main class="container">

    <!-- Заголовок -->
    <div class="jumbotron">
        <h1>Автоматизация склада</h1>
        <p class="lead">Простой инструмент для управления наличием товаров на складе.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")" role="button">
            Управление товарами
            &raquo;
        </a>
    </div>
</main>
@if (modelShow)
{
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <div class="modal-header">
                    <h5 class="modal-title" id="signInModalLabel">Вход</h5>
                </div>
                <div class="modal-body">
                    <form id="signInForm" asp-controller="Home" asp-action="Index" method="post">
                        <div class="form-group">
                            <label for="signInEmail">Почта</label>
                            <input type="email" class="form-control sing-in-mail" id="signInEmail" name="mail" placeholder="Введите вашу почту" required>
                            <a class="error-message">
                                <svg width="2" height="10" viewBox="0 0 2 10" fill="none">
                                    <path d="M1 9L1 4" stroke="white" stroke-width="2" stroke-linecap="round" />
                                    <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 0 2)" fill="#FEFFFB" />
                                </svg>
                                <span></span>
                            </a>
                        </div>
                        <div class="form-group">
                            <label for="signInPassword">Пароль</label>
                            <input type="password" class="form-control sing-in-password" id="signInPassword" name="password" placeholder="Введите ваш пароль" required>
                            <a class="error-message">
                                <svg width="2" height="10" viewBox="0 0 2 10" fill="none">
                                    <path d="M1 9L1 4" stroke="white" stroke-width="2" stroke-linecap="round" />
                                    <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 0 2)" fill="#FEFFFB" />
                                </svg>
                                <span></span>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-primary sing-in-button">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}